name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  phpcs:
    name: PHP Syntax Check
    uses: tarosky/workflows/.github/workflows/phpcs.yml@main
    with:
      version: '7.4'

  phplint:
    name: PHP Lint
    uses: tarosky/workflows/.github/workflows/phplint.yml@main
    with:
      php_versions: '["7.4", "8.3"]'

  assets:
    name: Assets Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Lint JS
        run: npm run lint

  status:
    name: Status Check
    runs-on: ubuntu-latest
    needs: [ phpcs, phplint, assets ]
    if: always()
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
